on:
  push:
    branches:
      - master

jobs:
  peekup-development:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 18.18.2

      - name: Install dependencies
        run: npm i

      - name: Create build and store old build to old_build
        run: |
          npm run custom-build && \
          mkdir -p temporary_build && \
          if [ -d old_build ]; then \
            rm -r old_build; \
          fi && \
          mv build old_build && \
          mv temporary_build new_build
